<%- include("partials/header.ejs") %>

<body class="d-flex flex-column min-vh-100">

<h2>Welcome to My Personal Blog!</h2>
<hr/>
<br>
<h4>Hi there, and thanks for stopping by! This blog is a space where thoughts, stories, ideas, and experiences are shared openly — and you're invited to join the conversation. As a visitor, you can:</h4>
<ul>
    <li><h5>Post your own blog entries and share what’s on your mind.</h5></li>
    <li><h5>Comment on posts to engage with others.</h5></li>
    <li><h5>View all your posts anytime.</h5></li>
    <li><h5>Delete any of your previously posted content if you change your mind.</h5></li>
</ul>
<h4>Whether you're here to write, read, or connect with others, you're in the right place. Dive in, explore, and make yourself at home!</h4>
<br>
<hr/>
<br>
<div class="row featurette">
    <div class="mid-body">
      <h2 class="featurette-heading">Share your secrets. <span class="text-muted">Your identity will be anonymous.</span></h2>
      <p class="lead">My Personal Blog is a great place to share your secrets and thoughts.</p>
    </div>
    <div class="mid-body">
        <img class="img-home" src="/images/girl.png" >
    </div>
  </div>

</body>

<%- include("partials/footer.ejs") %>
